@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.sentence-reference {
  width: 1.125em;
  height: 1.125em;
  margin-inline: 0.125em;
  padding-block-end: 0.125em;
  color: white;
  background-color: $dark-color;
  line-height: 1;
  translate: 0em -0.0625em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sentence-reference-inner {
  font-size: 11q;
  font-family: $special-font-family;
}

.story-reference {
   font-size: 13q;
   font-family: $special-font-family;
   color: $dark-color;
   line-height: 1;
}