@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.blank {
  break-before: page;
  page: blank;
}

@page blank {
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}