@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.first {
  width: 100%;
  height: $page-height - $page-margin-top - $page-margin-bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-title-fennese {
  row-gap: 8q;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-title-fennese-row {
  font-family: $special-font-family;
  font-weight: 700;
  text-transform: uppercase;
  &:nth-child(1) {
    font-size: 40q;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
  }
  &:nth-child(2) {
    font-size: 28q;
    letter-spacing: 0.13em;
    text-indent: 0.13em;
  }
}

.first-title-japanese {
  margin-block-start: 32q;
  font-size: 18q;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
 }

.first-author {
  margin-block-start: 96q;
  font-size: 14q;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}