@charset "utf-8";

@use "../variable.scss" as *;
@use "sass:math" as *;


.signature {
  margin-block: 8q;
  line-height: $line-height;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.signature-date {
}

.signature-name {
}

.url {
  margin-block: 8q;
  column-gap: 12q;
  display: flex;
  align-items: center;
  justify-content: center;
}

.url-qrcode {
  width: 64q;
}

.url-text {
}